.App {
  font-family: sans-serif;
  text-align: center;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin: auto;
  width: 80vw;
  height: 50px;
}

.roll {
  border: 1px solid black;
}